<template lang="pug">
.container.padded.text-flow.theme
	h2.location(v-if="data.location") {{ data.location.name }}!{' '}
		span.duration(v-if="data.duration") {{ data.duration.name }}

	template(v-if="data.location && data.duration")
		h3 Proviant
		app-content-provisions(:data="data")

	h3 Kuriositäten
	app-content-curios(:data="data")
</template>

<style lang="stylus">
#content
	margin-top var(--spacing)
	text-align left

h2
	text-align center

h3
	border-bottom 1px solid var(--color-accent)

.duration:before
	color var(--color-accent)
	content '['

.duration:after
	color var(--color-accent)
	content ']'
</style>

<script>
import AppContentProvisions from "./AppContentProvisions.vue";
import AppContentCurios from "./AppContentCurios.vue";

export default {
	name: "AppContent",
	components: {
		AppContentProvisions,
		AppContentCurios,
	},
	props: {
		data: Object,
	},
};
</script>
