<template lang="pug">
div.curio-container
	ul.curio-list
		li(v-for="curio in curios").curio-item
			h4(:class="{ warning: 'warning' in curio && curio.warning }").curio
				| {{ curio.name }}
			ul.provision-list(v-if="curio.provisions.length > 0")
				li(v-for="p in getProvisions(curio)").provision {{ p.name }}
</template>

<style lang="stylus" scoped>
.curio-container
	column-count 1

	@media screen and (min-width: 420px)
		column-count 2

	@media screen and (min-width: 720px)
		column-count 3

.curio-list
	margin: 0
	padding-left var(--spacing)

.curio-item
	break-inside avoid

	&:not(:first-child)
		margin-top var(--spacing--tiny)

.curio
	font-weight bold

.warning
	color var(--color-extra--01)
</style>

<script>
import { getSortValue } from "../utils.js";

export default {
	name: "AppContentCurios",
	props: {
		data: Object,
	},
	computed: {
		curios() {
			const location = this.data.location;
			let curios = this.data.curios;
			if (location === null) {
				console.debug("get all curios");
			} else {
				console.debug(`get curios for '${location.id}'`);
				curios = curios.filter(
					(curio) =>
						curio.locations === true || curio.locations.includes(location.id)
				);
			}
			return curios.sort((a, b) => getSortValue(a.name, b.name));
		},
	},
	methods: {
		getProvision(id) {
			return this.data.provisions.find((provision) => provision.id === id);
		},
		getProvisions(curio) {
			return curio.provisions
				.map((id) => this.getProvision(id))
				.sort((a, b) => getSortValue(a.name, b.name));
		},
	},
};
</script>
