<template lang="pug">
table
	thead
		tr
			th(scope="col").name Name
			th(scope="col").count Anzahl
			th(scope="col" colspan="2").stack Stacks
			th(scope="col" colspan="2").cost Kosten
	tbody
		template(v-for="item in provisionList")
			tr(
				v-if="item.count.min !== 0"
				:class="{noRange: item.count.noRange}"
			).item
				th(scope="row").name {{ item.name }}
				td.count
					span.min {{ item.count.min }}
					br
					span.max {{ item.count.max }}
				td.stack {{ item.stack.size }}
				td.stacks
					span.min {{ item.stack.min }}
					br
					span.max {{ item.stack.max }}
				td.cost {{ item.cost.each }}
				td.costs
					span.min {{ item.cost.min }}
					br
					span.max {{ item.cost.max }}
	tfoot
		tr
			td(colspan="6")
				| Total &nbsp;
				strong stacks
				| &nbsp;
				span.stacks.min {{ totalStacks.min }}
				| —
				span.stacksmax {{ totalStacks.max }}
				| . Total &nbsp;
				strong costs
				| &nbsp;
				span.costs.min {{ totalCosts.min }}
				| —
				span.costs.max {{ totalCosts.max }}
				| .

</template>

<style lang="stylus" scoped>
table
	width 100%
	border-collapse collapse;
	text-align center
	font-size var(--font-size--smaller)
	border 1px solid var(--color-dark--01)

thead
	background-color var(--color-dark--01)

tfoot
	background-color var(--color-dark--02)
	border-top 1px solid var(--color-dark--01)

	td
		text-align right

	span
		color var(--color-extra--03)

tr:nth-child(even)
	background-color var(--color-dark--03)

th
	font-weight bold

th, td
	padding 0 0.5rem
	vertical-align top

.name
	text-align left

tbody

	.count
		font-weight bold

		.min
			color var(--color-extra--04)

	.stack, .cost
		&:before
			content "("
			color var(--color-dark--01)
		&:after
			content ")"
			color var(--color-dark--01)

.noRange br,
.noRange .max
	visibility hidden
</style>

<script>
export default {
	name: "AppContentProvisions",
	props: {
		data: Object,
	},
	computed: {
		provisionList() {
			const provisionList = [];
			for (const provision of this.data.provisions) {
				provisionList.push(this.getProvisionInfo(provision));
			}
			console.debug("provision list:", provisionList);
			return provisionList;
		},
		provisionCount() {
			const location = this.data.location;
			const duration = this.data.duration;
			if (location === null || duration === null) {
				return {};
			}
			console.debug(`get provision count for ${location.id}[${duration.id}]`);
			return this.data.provision_count[location.id][duration.id];
		},
		totalCosts() {
			const cost = {
				min: 0,
				max: 0,
			};
			for (const item of this.provisionList) {
				cost.min += item.cost.min;
				cost.max += item.cost.max;
			}
			return cost;
		},
		totalStacks() {
			const stack = {
				min: 0,
				max: 0,
			};
			for (const item of this.provisionList) {
				stack.min += item.stack.min;
				stack.max += item.stack.max;
			}
			return stack;
		},
	},
	methods: {
		getStacks(count, stackSize) {
			if (count === 0) {
				return 0;
			} else {
				return Math.ceil(count / stackSize);
			}
		},
		getProvisionCount(provisionID) {
			if (provisionID in this.provisionCount) {
				return this.provisionCount[provisionID];
			} else {
				return [0, 0];
			}
		},
		getProvisionInfo(provision) {
			console.debug(`get info for ${provision.id}`);
			const [min, max] = this.getProvisionCount(provision.id);
			return {
				id: provision.id,
				name: provision.name,
				count: {
					noRange: min === max,
					min: min,
					max: max,
				},
				stack: {
					size: provision.stack,
					min: this.getStacks(min, provision.stack),
					max: this.getStacks(max, provision.stack),
				},
				cost: {
					each: provision.cost,
					min: provision.cost * min,
					max: provision.cost * max,
				},
			};
		},
	},
};
</script>
