<template lang="pug">
.container.padded.centered
	p
		span <a href="https://toml.io/">TOML</a> file
		wbr
		span scraped with Python <a href="https://scrapy.org/">Scrapy</a>.
		wbr
		span Rendered with <a href="https://v3.vuejs.org/">Vue.js</a>.
</template>

<script>
export default {
	name: "PageFooter"
}
</script>

<style lang="stylus" scoped>
p
	font-size: var(--font-size--smaller)

	span
		white-space: nowrap

		&:after
			content: " "
</style>
