<template lang="pug">
.container.padded.centered
	h1 The Darkest Reference
</template>

<script>
export default {
	name: "PageHeader",
};
</script>

<style lang="stylus" scoped>
h1
	color: var(--color-extra--01)
	-webkit-text-stroke: 1px var(--color-light--01);
</style>
