<template lang="pug">
div.theme-secondary-dark--02
	div.container
		ul.menu-list
			li.menu-item(v-for="location in data.locations", :key="location.id")
				a(
					href="#",
					:class="{ active: isActiveLocation(location) }",
					@click="updateLocation(location)"
				) {{ location.name }}

div.theme-secondary-dark--01
	div.container
		ul.menu-list(v-show="data.locationID !== null")
			li.menu-item(v-for="duration in data.durations", :key="duration.id")
				a(
					href="#",
					:class="{ active: isActiveDuration(duration) }",
					@click="updateDuration(duration)"
				) {{ duration.name }}
</template>

<style lang="stylus" scoped>
.menu-list
	margin 0
	padding 0
	list-style none
	line-height 2rem
	display flex
	flex-flow row wrap
	justify-content space-evenly

.menu-item
	padding 0 var(--spacing--tiny)
	text-transform uppercase
</style>

<script>
export default {
	name: "AppNav",
	props: {
		data: Object,
	},
	emits: {
		updateLocation: null,
		updateDuration: null,
	},
	methods: {
		isActiveLocation(location) {
			const current = this.data.location;
			if (current !== null && current.id === location.id) {
				return true;
			} else {
				return false;
			}
		},
		isActiveDuration(duration) {
			const current = this.data.duration;
			if (current !== null && current.id === duration.id) {
				return true;
			} else {
				return false;
			}
		},
		updateLocation(location) {
			console.debug(`fire update location event for '${location.id}'`);
			this.$emit("updateLocation", location);
		},
		updateDuration(duration) {
			console.debug(`fire update duration event for '${duration.id}'`);
			this.$emit("updateDuration", duration);
		},
	},
};
</script>
