/* --- CONTAINER ---------------------------------------------------------- */

.container {
  max-width: var(--width-max);
  margin: 0 auto;
}

.padded {
  padding: var(--padding--vertical) var(--padding--horizontal);
}

.centered {
  text-align: center;
}

/* --- FLOW --------------------------------------------------------------- */

.text-flow h1:not(:first-child),
.text-flow h2:not(:first-child),
.text-flow h3:not(:first-child),
.text-flow h4:not(:first-child),
.text-flow h5:not(:first-child) {
  margin-top: var(--spacing--small);
}

.text-flow h1,
.text-flow h2,
.text-flow h3,
.text-flow h4,
.text-flow h5 {
  margin-bottom: var(--spacing--tiny);
}

.text-flow p:not(:last-child) {
  margin-bottom: var(--spacing--tiny);
}

/* --- MISC --------------------------------------------------------------- */

.active {
  color: var(--color-active) !important;
}
