html {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  min-width: var(--width-min);
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: var(--color-header);
  font-family: var(--font-family--header, var(--font-family));
  font-weight: var(--font-weight--header);
  line-height: var(--line-height--header);
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size--h1);
}

h2 {
  font-size: var(--font-size--h2);
}

h3 {
  font-size: var(--font-size--h3);
}

h4 {
  font-size: var(--font-size--h4);
}

h5 {
  font-size: var(--font-size--h5);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 150ms ease;
}

a:visited {
  color: var(--color-visited);
}

a:hover,
a:active {
  color: var(--color-hover);
}

a:focus:not(.button) {
  color: var(--color-hover);
  border-bottom: 1px dotted var(--color-hover);
}
