:root {
  /* COLORS */
  /* https://www.nordtheme.com/ */

  --color-dark--01: #2e3440;
  --color-dark--02: #3b4252;
  --color-dark--03: #434c5e;
  --color-dark--04: #4c566a;
  --color-light--01: #eceff4;
  --color-light--02: #e5e9f0;
  --color-light--03: #d8dee9;
  --color-contrast--01: #8fbcbb;
  --color-contrast--02: #88c0d0;
  --color-contrast--03: #81a1c1;
  --color-contrast--04: #5e81ac;
  --color-extra--01: #bf616a;
  --color-extra--02: #d08770;
  --color-extra--03: #ebcb8b;
  --color-extra--04: #a3be8c;
  --color-extra--05: #b48ead;

  /* FONTS */
  --font-family: "Roboto", sans-serif;
  --font-family--header: "Noto Serif", serif;
  --font-family--condensed: var(--font-family--header);
  --font-family--mono: monospace, monospace;

  --font-size: 16px;
  --font-size--h1: 2.488rem;
  --font-size--h2: 2.074rem;
  --font-size--h3: 1.728rem;
  --font-size--h4: 1.44remrem;
  --font-size--h5: 1.2rem;
  --font-size--huge: var(--font-size--h1);
  --font-size--large: var(--font-size--h3);
  --font-size--larger: var(--font-size--h5);
  --font-size--smaller: 0.9rem;
  --font-size--small: 0.8rem;
  --font-size--tiny: 0.5rem;
  --font-weight: 400;
  --font-weight--bold: 600;
  --font-weight--light: 300;
  --font-weight--header: 500;

  --line-height: 1.6;
  --line-height--header: 1.15;

  /* SPACING */

  --spacing: 1.5rem;
  --spacing--tiny: 0.75rem;
  --spacing--small: 1.25rem;
  --spacing--large: 2rem;
  --spacing--huge: 3rem;

  --padding--vertical: calc(var(--spacing) * 1.5);
  --padding--horizontal: var(--spacing);

  /* WIDTHS */

  --width-min: 320px;
  --width-max: 800px;
  --width-min--inside: calc(var(--width-min) - var(--padding--horizontal) * 2);
  --width-max--inside: calc(var(--width-max) - var(--padding--horizontal) * 2);
}
