.theme {
  --color-bg: var(--color-dark--04);
  --color-text: var(--color-light--02);
  --color-accent: var(--color-extra--02);
  --color-header: var(--color-light--01);
  --color-link: var(--color-contrast--04);
  --color-visited: var(--color-link);
  --color-hover: var(--color-contrast--3);
  --color-active: var(--color-accent);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-alt {
  --color-bg: var(--color-dark--01);
  --color-text: var(--color-light--03);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-secondary--light--01 {
  --color-bg: var(--color-light--03);
  --color-text: var(--color-dark--02);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-secondary--light--02 {
  --color-bg: var(--color-light--02);
  --color-text: var(--color-dark--02);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-secondary-dark--01 {
  --color-bg: var(--color-dark--03);
  --color-text: var(--color-light--02);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-secondary-dark--02 {
  --color-bg: var(--color-dark--02);
  --color-text: var(--color-light--02);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-menu {
  --color-link: var(--color-light--01);
  --color-visited: var(--color-link);
  --color-hover: var(--color-accent);
  --color-active: var(--color-header);
}
