<template lang="pug">
#root.theme
	header#header.theme-alt
		app-header

	nav#nav
		app-nav(
			:data="ddData",
			@update-location="setLocation",
			@update-duration="setDuration"
		)

	main#main
		app-content(:data="ddData")

	footer#footer.theme-alt
		app-footer
</template>

<style lang="stylus" scoped>
#root
	min-height 100vh
	display flex
	flex-flow column

#main
	flex-grow 1
</style>

<script>
import ddData from "./assets/darkest_dungeon.json";

import AppHeader from "./components/AppHeader.vue";
import AppNav from "./components/AppNav.vue";
import AppContent from "./components/AppContent.vue";
import AppFooter from "./components/AppFooter.vue";

export default {
	name: "App",
	components: {
		AppHeader,
		AppNav,
		AppContent,
		AppFooter,
	},
	data() {
		return {
			ddData: ddData,
		};
	},
	created() {
		this.ddData.location = null;
		this.ddData.duration = null;
	},
	methods: {
		setLocation(location) {
			this.ddData.location = location;
		},
		setDuration(duration) {
			this.ddData.duration = duration;
		},
	},
};
</script>
